--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_event (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text NOT NULL,
    address character varying(255) NOT NULL,
    table_size character varying(2) NOT NULL,
    perks text NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    visibility character varying(10) NOT NULL,
    is_repeating boolean NOT NULL,
    repeat_days text NOT NULL,
    first_player_is_organizer boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id integer NOT NULL,
    organization_id bigint NOT NULL
);


ALTER TABLE public.core_event OWNER TO postgres;

--
-- Name: core_event_games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_event_games (
    id bigint NOT NULL,
    event_id bigint NOT NULL,
    game_id bigint NOT NULL
);


ALTER TABLE public.core_event_games OWNER TO postgres;

--
-- Name: core_event_games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_event_games ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_event_games_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_event_organizers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_event_organizers (
    id bigint NOT NULL,
    event_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.core_event_organizers OWNER TO postgres;

--
-- Name: core_event_organizers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_event_organizers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_event_organizers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_event_players; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_event_players (
    id bigint NOT NULL,
    event_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.core_event_players OWNER TO postgres;

--
-- Name: core_event_players_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_event_players ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_event_players_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_eventavailablegame; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_eventavailablegame (
    id bigint NOT NULL,
    added_at timestamp with time zone NOT NULL,
    added_by_id integer NOT NULL,
    event_id bigint NOT NULL,
    game_id bigint NOT NULL
);


ALTER TABLE public.core_eventavailablegame OWNER TO postgres;

--
-- Name: core_eventavailablegame_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_eventavailablegame ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_eventavailablegame_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_game (
    id bigint NOT NULL,
    bgg_id integer NOT NULL,
    title character varying(255) NOT NULL,
    min_players integer,
    max_players integer,
    playtime_minutes integer,
    thumbnail_url character varying(200),
    average_rating double precision,
    complexity double precision,
    overall_rank integer,
    recommended_age integer,
    categories character varying(100)[] NOT NULL,
    language_dependence character varying(100),
    mechanics character varying(100)[] NOT NULL,
    best_player_count character varying(50)
);


ALTER TABLE public.core_game OWNER TO postgres;

--
-- Name: core_game_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_game ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_game_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_gamecategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_gamecategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.core_gamecategory OWNER TO postgres;

--
-- Name: core_gamecategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_gamecategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_gamecategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_gamecollection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_gamecollection (
    id bigint NOT NULL,
    added_at timestamp with time zone NOT NULL,
    game_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.core_gamecollection OWNER TO postgres;

--
-- Name: core_gamecollection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_gamecollection ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_gamecollection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_membership; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_membership (
    id bigint NOT NULL,
    joined_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    organization_id bigint NOT NULL
);


ALTER TABLE public.core_membership OWNER TO postgres;

--
-- Name: core_membership_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_membership ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_membership_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_organization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_organization (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    privacy character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    city character varying(50) NOT NULL,
    created_by_id integer NOT NULL,
    category character varying(50) NOT NULL
);


ALTER TABLE public.core_organization OWNER TO postgres;

--
-- Name: core_organization_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_organization_categories (
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    gamecategory_id bigint NOT NULL
);


ALTER TABLE public.core_organization_categories OWNER TO postgres;

--
-- Name: core_organization_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_organization_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_organization_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_organization_games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_organization_games (
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    game_id bigint NOT NULL
);


ALTER TABLE public.core_organization_games OWNER TO postgres;

--
-- Name: core_organization_games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_organization_games ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_organization_games_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_organization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_organization ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_organization_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_usergame; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_usergame (
    id bigint NOT NULL,
    date_added timestamp with time zone NOT NULL,
    game_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.core_usergame OWNER TO postgres;

--
-- Name: core_usergame_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_usergame ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_usergame_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_usergamevote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_usergamevote (
    id bigint NOT NULL,
    rank integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    event_id bigint NOT NULL,
    game_id bigint NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT core_usergamevote_rank_check CHECK ((rank >= 0))
);


ALTER TABLE public.core_usergamevote OWNER TO postgres;

--
-- Name: core_usergamevote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_usergamevote ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_usergamevote_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_userprofile (
    id bigint NOT NULL,
    role character varying(20) NOT NULL,
    organization_id bigint,
    user_id integer NOT NULL
);


ALTER TABLE public.core_userprofile OWNER TO postgres;

--
-- Name: core_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: core_event_games core_event_games_event_id_game_id_aa83db0a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_games
    ADD CONSTRAINT core_event_games_event_id_game_id_aa83db0a_uniq UNIQUE (event_id, game_id);


--
-- Name: core_event_games core_event_games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_games
    ADD CONSTRAINT core_event_games_pkey PRIMARY KEY (id);


--
-- Name: core_event_organizers core_event_organizers_event_id_user_id_d1bfc8dd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_organizers
    ADD CONSTRAINT core_event_organizers_event_id_user_id_d1bfc8dd_uniq UNIQUE (event_id, user_id);


--
-- Name: core_event_organizers core_event_organizers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_organizers
    ADD CONSTRAINT core_event_organizers_pkey PRIMARY KEY (id);


--
-- Name: core_event core_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event
    ADD CONSTRAINT core_event_pkey PRIMARY KEY (id);


--
-- Name: core_event_players core_event_players_event_id_user_id_b730a66e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_players
    ADD CONSTRAINT core_event_players_event_id_user_id_b730a66e_uniq UNIQUE (event_id, user_id);


--
-- Name: core_event_players core_event_players_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_players
    ADD CONSTRAINT core_event_players_pkey PRIMARY KEY (id);


--
-- Name: core_eventavailablegame core_eventavailablegame_event_id_game_id_added_b_b536c6a3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventavailablegame
    ADD CONSTRAINT core_eventavailablegame_event_id_game_id_added_b_b536c6a3_uniq UNIQUE (event_id, game_id, added_by_id);


--
-- Name: core_eventavailablegame core_eventavailablegame_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventavailablegame
    ADD CONSTRAINT core_eventavailablegame_pkey PRIMARY KEY (id);


--
-- Name: core_game core_game_bgg_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_game
    ADD CONSTRAINT core_game_bgg_id_key UNIQUE (bgg_id);


--
-- Name: core_game core_game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_game
    ADD CONSTRAINT core_game_pkey PRIMARY KEY (id);


--
-- Name: core_gamecategory core_gamecategory_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_gamecategory
    ADD CONSTRAINT core_gamecategory_name_key UNIQUE (name);


--
-- Name: core_gamecategory core_gamecategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_gamecategory
    ADD CONSTRAINT core_gamecategory_pkey PRIMARY KEY (id);


--
-- Name: core_gamecollection core_gamecollection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_gamecollection
    ADD CONSTRAINT core_gamecollection_pkey PRIMARY KEY (id);


--
-- Name: core_gamecollection core_gamecollection_user_id_game_id_1b0ba676_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_gamecollection
    ADD CONSTRAINT core_gamecollection_user_id_game_id_1b0ba676_uniq UNIQUE (user_id, game_id);


--
-- Name: core_membership core_membership_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_membership
    ADD CONSTRAINT core_membership_pkey PRIMARY KEY (id);


--
-- Name: core_membership core_membership_user_id_organization_id_ad60a107_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_membership
    ADD CONSTRAINT core_membership_user_id_organization_id_ad60a107_uniq UNIQUE (user_id, organization_id);


--
-- Name: core_organization_categories core_organization_catego_organization_id_gamecate_2046cb95_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_categories
    ADD CONSTRAINT core_organization_catego_organization_id_gamecate_2046cb95_uniq UNIQUE (organization_id, gamecategory_id);


--
-- Name: core_organization_categories core_organization_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_categories
    ADD CONSTRAINT core_organization_categories_pkey PRIMARY KEY (id);


--
-- Name: core_organization_games core_organization_games_organization_id_game_id_7c07def9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_games
    ADD CONSTRAINT core_organization_games_organization_id_game_id_7c07def9_uniq UNIQUE (organization_id, game_id);


--
-- Name: core_organization_games core_organization_games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_games
    ADD CONSTRAINT core_organization_games_pkey PRIMARY KEY (id);


--
-- Name: core_organization core_organization_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization
    ADD CONSTRAINT core_organization_name_key UNIQUE (name);


--
-- Name: core_organization core_organization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization
    ADD CONSTRAINT core_organization_pkey PRIMARY KEY (id);


--
-- Name: core_usergame core_usergame_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergame
    ADD CONSTRAINT core_usergame_pkey PRIMARY KEY (id);


--
-- Name: core_usergame core_usergame_user_id_game_id_e3f54272_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergame
    ADD CONSTRAINT core_usergame_user_id_game_id_e3f54272_uniq UNIQUE (user_id, game_id);


--
-- Name: core_usergamevote core_usergamevote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergamevote
    ADD CONSTRAINT core_usergamevote_pkey PRIMARY KEY (id);


--
-- Name: core_usergamevote core_usergamevote_user_id_event_id_game_id_8bbca713_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergamevote
    ADD CONSTRAINT core_usergamevote_user_id_event_id_game_id_8bbca713_uniq UNIQUE (user_id, event_id, game_id);


--
-- Name: core_userprofile core_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_userprofile
    ADD CONSTRAINT core_userprofile_pkey PRIMARY KEY (id);


--
-- Name: core_userprofile core_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_userprofile
    ADD CONSTRAINT core_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: core_event_created_by_id_55633c2b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_created_by_id_55633c2b ON public.core_event USING btree (created_by_id);


--
-- Name: core_event_games_event_id_152ae3f6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_games_event_id_152ae3f6 ON public.core_event_games USING btree (event_id);


--
-- Name: core_event_games_game_id_2110ff5e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_games_game_id_2110ff5e ON public.core_event_games USING btree (game_id);


--
-- Name: core_event_organization_id_a2ce68e9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_organization_id_a2ce68e9 ON public.core_event USING btree (organization_id);


--
-- Name: core_event_organizers_event_id_1fd72191; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_organizers_event_id_1fd72191 ON public.core_event_organizers USING btree (event_id);


--
-- Name: core_event_organizers_user_id_a5623590; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_organizers_user_id_a5623590 ON public.core_event_organizers USING btree (user_id);


--
-- Name: core_event_players_event_id_bbeed67b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_players_event_id_bbeed67b ON public.core_event_players USING btree (event_id);


--
-- Name: core_event_players_user_id_031e7e0f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_event_players_user_id_031e7e0f ON public.core_event_players USING btree (user_id);


--
-- Name: core_eventavailablegame_added_by_id_a67fd75b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_eventavailablegame_added_by_id_a67fd75b ON public.core_eventavailablegame USING btree (added_by_id);


--
-- Name: core_eventavailablegame_event_id_474a9277; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_eventavailablegame_event_id_474a9277 ON public.core_eventavailablegame USING btree (event_id);


--
-- Name: core_eventavailablegame_game_id_bf7c899b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_eventavailablegame_game_id_bf7c899b ON public.core_eventavailablegame USING btree (game_id);


--
-- Name: core_gamecategory_name_61d1d725_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_gamecategory_name_61d1d725_like ON public.core_gamecategory USING btree (name varchar_pattern_ops);


--
-- Name: core_gamecollection_game_id_997ab611; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_gamecollection_game_id_997ab611 ON public.core_gamecollection USING btree (game_id);


--
-- Name: core_gamecollection_user_id_c318b262; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_gamecollection_user_id_c318b262 ON public.core_gamecollection USING btree (user_id);


--
-- Name: core_membership_organization_id_db2cbefc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_membership_organization_id_db2cbefc ON public.core_membership USING btree (organization_id);


--
-- Name: core_membership_user_id_f9b5780b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_membership_user_id_f9b5780b ON public.core_membership USING btree (user_id);


--
-- Name: core_organization_categories_gamecategory_id_2f3a7437; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_organization_categories_gamecategory_id_2f3a7437 ON public.core_organization_categories USING btree (gamecategory_id);


--
-- Name: core_organization_categories_organization_id_a870ef6b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_organization_categories_organization_id_a870ef6b ON public.core_organization_categories USING btree (organization_id);


--
-- Name: core_organization_created_by_id_4f8c844e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_organization_created_by_id_4f8c844e ON public.core_organization USING btree (created_by_id);


--
-- Name: core_organization_games_game_id_e7a59291; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_organization_games_game_id_e7a59291 ON public.core_organization_games USING btree (game_id);


--
-- Name: core_organization_games_organization_id_b29b3d91; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_organization_games_organization_id_b29b3d91 ON public.core_organization_games USING btree (organization_id);


--
-- Name: core_organization_name_c83de100_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_organization_name_c83de100_like ON public.core_organization USING btree (name varchar_pattern_ops);


--
-- Name: core_usergame_game_id_f12c6042; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_usergame_game_id_f12c6042 ON public.core_usergame USING btree (game_id);


--
-- Name: core_usergame_user_id_1e54b5df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_usergame_user_id_1e54b5df ON public.core_usergame USING btree (user_id);


--
-- Name: core_usergamevote_event_id_538dff32; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_usergamevote_event_id_538dff32 ON public.core_usergamevote USING btree (event_id);


--
-- Name: core_usergamevote_game_id_ea0db996; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_usergamevote_game_id_ea0db996 ON public.core_usergamevote USING btree (game_id);


--
-- Name: core_usergamevote_user_id_b7396796; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_usergamevote_user_id_b7396796 ON public.core_usergamevote USING btree (user_id);


--
-- Name: core_userprofile_organization_id_4fef5b2d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_userprofile_organization_id_4fef5b2d ON public.core_userprofile USING btree (organization_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event core_event_created_by_id_55633c2b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event
    ADD CONSTRAINT core_event_created_by_id_55633c2b_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event_games core_event_games_event_id_152ae3f6_fk_core_event_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_games
    ADD CONSTRAINT core_event_games_event_id_152ae3f6_fk_core_event_id FOREIGN KEY (event_id) REFERENCES public.core_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event_games core_event_games_game_id_2110ff5e_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_games
    ADD CONSTRAINT core_event_games_game_id_2110ff5e_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event core_event_organization_id_a2ce68e9_fk_core_organization_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event
    ADD CONSTRAINT core_event_organization_id_a2ce68e9_fk_core_organization_id FOREIGN KEY (organization_id) REFERENCES public.core_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event_organizers core_event_organizers_event_id_1fd72191_fk_core_event_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_organizers
    ADD CONSTRAINT core_event_organizers_event_id_1fd72191_fk_core_event_id FOREIGN KEY (event_id) REFERENCES public.core_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event_organizers core_event_organizers_user_id_a5623590_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_organizers
    ADD CONSTRAINT core_event_organizers_user_id_a5623590_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event_players core_event_players_event_id_bbeed67b_fk_core_event_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_players
    ADD CONSTRAINT core_event_players_event_id_bbeed67b_fk_core_event_id FOREIGN KEY (event_id) REFERENCES public.core_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_event_players core_event_players_user_id_031e7e0f_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_event_players
    ADD CONSTRAINT core_event_players_user_id_031e7e0f_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_eventavailablegame core_eventavailablegame_added_by_id_a67fd75b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventavailablegame
    ADD CONSTRAINT core_eventavailablegame_added_by_id_a67fd75b_fk_auth_user_id FOREIGN KEY (added_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_eventavailablegame core_eventavailablegame_event_id_474a9277_fk_core_event_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventavailablegame
    ADD CONSTRAINT core_eventavailablegame_event_id_474a9277_fk_core_event_id FOREIGN KEY (event_id) REFERENCES public.core_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_eventavailablegame core_eventavailablegame_game_id_bf7c899b_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventavailablegame
    ADD CONSTRAINT core_eventavailablegame_game_id_bf7c899b_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_gamecollection core_gamecollection_game_id_997ab611_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_gamecollection
    ADD CONSTRAINT core_gamecollection_game_id_997ab611_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_gamecollection core_gamecollection_user_id_c318b262_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_gamecollection
    ADD CONSTRAINT core_gamecollection_user_id_c318b262_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_membership core_membership_organization_id_db2cbefc_fk_core_orga; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_membership
    ADD CONSTRAINT core_membership_organization_id_db2cbefc_fk_core_orga FOREIGN KEY (organization_id) REFERENCES public.core_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_membership core_membership_user_id_f9b5780b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_membership
    ADD CONSTRAINT core_membership_user_id_f9b5780b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_organization_categories core_organization_ca_gamecategory_id_2f3a7437_fk_core_game; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_categories
    ADD CONSTRAINT core_organization_ca_gamecategory_id_2f3a7437_fk_core_game FOREIGN KEY (gamecategory_id) REFERENCES public.core_gamecategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_organization_categories core_organization_ca_organization_id_a870ef6b_fk_core_orga; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_categories
    ADD CONSTRAINT core_organization_ca_organization_id_a870ef6b_fk_core_orga FOREIGN KEY (organization_id) REFERENCES public.core_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_organization core_organization_created_by_id_4f8c844e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization
    ADD CONSTRAINT core_organization_created_by_id_4f8c844e_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_organization_games core_organization_ga_organization_id_b29b3d91_fk_core_orga; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_games
    ADD CONSTRAINT core_organization_ga_organization_id_b29b3d91_fk_core_orga FOREIGN KEY (organization_id) REFERENCES public.core_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_organization_games core_organization_games_game_id_e7a59291_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_organization_games
    ADD CONSTRAINT core_organization_games_game_id_e7a59291_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_usergame core_usergame_game_id_f12c6042_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergame
    ADD CONSTRAINT core_usergame_game_id_f12c6042_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_usergame core_usergame_user_id_1e54b5df_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergame
    ADD CONSTRAINT core_usergame_user_id_1e54b5df_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_usergamevote core_usergamevote_event_id_538dff32_fk_core_event_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergamevote
    ADD CONSTRAINT core_usergamevote_event_id_538dff32_fk_core_event_id FOREIGN KEY (event_id) REFERENCES public.core_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_usergamevote core_usergamevote_game_id_ea0db996_fk_core_game_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergamevote
    ADD CONSTRAINT core_usergamevote_game_id_ea0db996_fk_core_game_id FOREIGN KEY (game_id) REFERENCES public.core_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_usergamevote core_usergamevote_user_id_b7396796_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_usergamevote
    ADD CONSTRAINT core_usergamevote_user_id_b7396796_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_userprofile core_userprofile_organization_id_4fef5b2d_fk_core_orga; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_userprofile
    ADD CONSTRAINT core_userprofile_organization_id_4fef5b2d_fk_core_orga FOREIGN KEY (organization_id) REFERENCES public.core_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_userprofile core_userprofile_user_id_5141ad90_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_userprofile
    ADD CONSTRAINT core_userprofile_user_id_5141ad90_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

